
@{
    ViewBag.Title = "AddHighlights";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddHighlights</h2>




<textarea class="editor"></textarea>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Master/CKEditor/ckeditor.js"></script>
<script src="~/Master/CKEditor/adapters/jquery.js"></script>

<script>
    jQuery('textarea.editor').ckeditor();
</script>