@model List<ConferenceWebApp.Models.UserProfile>
@{
    ViewBag.Title = "Files";
    Layout = "~/Views/Shared/Master.cshtml";
}

<br />

<h3 style="text-align: center" class="vc_custom_heading">Select Speaker</h3>
<div class="wpb_text_column wpb_content_element ">
    <div class="wpb_wrapper">
        <p style="text-align: center;">
            <span style="color: #8d93a0;">
                Select one of following speakers to view the files related to them
            </span>
        </p>

    </div>
</div>
<div class="container-fluid">
    <div class="content">
        <main role="main">
            <article id="page-6" class="post-6 page type-page status-publish hentry">
                <div class="entry-content">
                    <div class="woocommerce">
                        <section class="woocommerce-wrap">
                            <div class="col-md-offset-2 col-md-8 col-sm-8">
                                <table class="shop_table " cellspacing="0">
                                    <tbody>
                                        @foreach (var Speaker in Model)
                                        {
                                            <tr class="cart_item">
                                                <td class="product-name" >
                                                    <strong>@Html.ActionLink(@Speaker.Name, "FilesOfSpeaker", "Home", new { SpeakerId = @Speaker.ID }, new { @style = "font-size: 20px;" })</strong>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <div class="cart-collaterals">
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                <footer class="entry-footer"></footer>

            </article>
        </main>
    </div>
</div>
