
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/Master.cshtml";
}

<br /><br />
<div class="vc_icon_element vc_icon_element-outer vc_icon_element-align-center">
    <div class="vc_icon_element-inner vc_icon_element-color-accent-color vc_icon_element-size-lg vc_icon_element-style- vc_icon_element-background-color-grey"><span class="vc_icon_element-icon icon icon-faces-users-04"></span></div>
</div>
<h3 style="text-align: center" class="vc_custom_heading">Gallery</h3>
<div class="wpb_text_column wpb_content_element ">
    <div class="wpb_wrapper">
        <p style="text-align: center;">
            <span style="color: #8d93a0;">

            </span>
        </p>
    </div>
</div>
<div class="container-fluid">
    <div class="content">
        <main role="main">
            <article id="page-6" class="post-6 page type-page status-publish hentry">
                <div class="entry-content">
                    <div class="woocommerce">
                        <section class="woocommerce-wrap">
                            <div class="col-md-offset-2 col-md-8 col-sm-8">
                                <table class="shop_table " cellspacing="0">
                                    <tbody>
                                        <tr class="cart_item">
                                            <td class="product-name" @*data-title="Product"*@ onclick="GotoUrl('/Home/Videos')">
                                                <strong><a style="font-size: 20px; cursor:pointer">Videos</a></strong>
                                            </td>
                                        </tr>
                                        <tr class="cart_item">
                                            <td class="product-name" @*data-title="Product"*@ onclick="GotoUrl('/Home/ImageGallery')">
                                                <strong><a style="font-size: 20px; cursor:pointer">Pictures</a></strong>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                                <div class="cart-collaterals">
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                <footer class="entry-footer"></footer>

            </article>
        </main>
    </div>
</div>


