@{
    ViewBag.Title = "Schedule";
    Layout = "~/Views/Shared/Master.cshtml";
}

@model ConferenceWebApp.Models.FormModels.AppModel.IndexListModel



<div class="container-fluid">
    <div class="content">
        <main role='main'>
            <article id="page-1825" class="post-1825 page type-page status-publish hentry">
                <div class="entry-content">
                   
                    @Html.Partial("SectionSchedule")
                </div>

                <footer class="entry-footer"></footer>
            </article>
        </main>
    </div>
</div>
