<div id="newsletter" class="vc_row vc_inner vc_row-fluid vc_custom_1453725781373 row parallax-bg-row inherit-color" style="background-image: url(wp-content/uploads/2015/11/bg4-2000x693.jpg); background-repeat: ; -webkit-background-size: cover; background-size: cover; background-position: center; background-attachment: fixed; color: #ffffff;" data-token="78BSS">
    <div class="row-overlay clearfix " style="background-color: rgba(40,47,67,0.85);"></div><div class="container">
        <div class="vc_col-sm-12 wpb_column column_container  align-center">
            <div class="wpb_wrapper">
                <h3 style="text-align: center" class="vc_custom_heading"><mark>Newsletter</mark> signup</h3>
                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <p style="text-align: center;">
                            <span style="color: #8d93a0;">
                                <span style="color: #ffffff;">Shortest way to explore what will happen on Ventcamp</span><br />
                            </span>
                        </p>

                    </div>
                </div>
                <div id="vsc_row_wyzccoioov" class="vc_row vc_inner vc_row-fluid container" style="" data-token="bf4w0">
                    <div class="vc_col-sm-3 wpb_column column_container  ">
                        <div class="wpb_wrapper">

                        </div>
                    </div>

                    <div class="vc_col-sm-6 wpb_column column_container  ">
                        <div class="wpb_wrapper">
                            <div class="contact-form-7-data" data-token="cDta7">
                                <div role="form" class="wpcf7" id="wpcf7-f1343-p1825-o1" lang="en-US" dir="ltr">
                                    <div class="screen-reader-response"></div>
                                    <form action="http://ventcampwp.com/#wpcf7-f1343-p1825-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                        <div style="display: none;">
                                            <input type="hidden" name="_wpcf7" value="1343" />
                                            <input type="hidden" name="_wpcf7_version" value="4.3.1" />
                                            <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f1343-p1825-o1" />
                                            <input type="hidden" name="_wpnonce" value="faac3103b9" />
                                        </div>
                                        <div class="form form-overlay">
                                            <div class="form-group col-sm-8">
                                                <span class="wpcf7-form-control-wrap EMAIL"><input type="email" name="EMAIL" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="E-mail" /></span>
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <input type="submit" value="GO" class="wpcf7-form-control wpcf7-submit btn btn-sm base_clr_bg btn-solid" />
                                            </div>
                                        </div>
                                        <div class="wpcf7-response-output wpcf7-display-none"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="vc_col-sm-3 wpb_column column_container  ">
                        <div class="wpb_wrapper">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

