<div id="vsc_row_qsjaipkkld" class="vc_row vc_inner vc_row-fluid vc_custom_1452178757299 row parallax-bg-row inherit-color" style="background-image: url(../master/wp-content/uploads/2015/11/stat-bg.jpg); background-repeat: ; -webkit-background-size: cover; background-size: cover; background-position: center; background-attachment: fixed; color: #ffffff;" data-token="qZctC">
    <div class="row-overlay clearfix " style="background-color: rgba(22,18,18,0.8);"></div><div class="container">
        <div class="vc_col-sm-3 wpb_column column_container  align-center">
            <div class="wpb_wrapper">

                <div class="counter-block counter-block-no-border " data-counter-value="136">
                    <div class="counter-box">
                        <div class="counter-content">
                            <span class="count" data-to="136"></span>
                            <p class="title" style="color: #ffffff;">SPEAKERS</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="vc_col-sm-3 wpb_column column_container  align-center">
            <div class="wpb_wrapper">

                <div class="counter-block counter-block-no-border " data-counter-value="6">
                    <div class="counter-box">
                        <div class="counter-content">
                            <span class="count" data-to="6"></span>
                            <p class="title" style="color: #ffffff;">DAYS</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="vc_col-sm-3 wpb_column column_container  align-center">
            <div class="wpb_wrapper">

                <div class="counter-block counter-block-no-border " data-counter-value="25">
                    <div class="counter-box">
                        <div class="counter-content">
                            <span class="count" data-to="25"></span>
                            <p class="title" style="color: #ffffff;">WORKSHOPS</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="vc_col-sm-3 wpb_column column_container  align-center">
            <div class="wpb_wrapper">

                <div class="counter-block counter-block-no-border " data-counter-value="200">
                    <div class="counter-box">
                        <div class="counter-content">
                            <span class="count" data-to="200"></span>
                            <p class="title" style="color: #ffffff;">SUCCESS STORIES</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

