<div id="about" class="vc_row vc_inner vc_row-fluid row" style="" data-token="B8xIe">
    <div class="container">
        <div class="vc_col-sm-12 wpb_column column_container  ">
            <div class="wpb_wrapper">
                <div class="vc_icon_element vc_icon_element-outer vc_icon_element-align-center">
                    <div class="vc_icon_element-inner vc_icon_element-color-accent-color vc_icon_element-size-lg vc_icon_element-style- vc_icon_element-background-color-grey"><span class="vc_icon_element-icon icon icon-multimedia-12"></span></div>
                </div>
                <h3 style="text-align: center" class="vc_custom_heading">Business meets Innovation</h3>
                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <p style="text-align: center;"><span style="color: #8d93a0;">Starting your own IT <mark>business</mark> and picking right niche in less then 30 days</span></p>

                    </div>
                </div>
                <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
                <div class="vc_tta-container" data-vc-action="collapse">
                    <div class="vc_general vc_tta vc_tta-tabs vc_tta-color-accent-color vc_tta-style-classic vc_tta-o-shape-group vc_tta-tabs-position-top vc_tta-controls-align-center">
                        <div class="vc_tta-tabs-container" >
                        <ul class="vc_tta-tabs-list" style="text-align:center;">
                            <li class="vc_tta-tab vc_active" data-vc-tab><a href="#html_and_css_tab" data-vc-tabs data-vc-container=".vc_tta"><span class="vc_tta-title-text">Introduction</span></a></li></ul></div><div class="vc_tta-panels-container">
                            <div class="vc_tta-panels">
                                <div class="vc_tta-panel vc_active" id="html_and_css_tab" data-vc-content=".vc_tta-panel-body">
                                    <div class="vc_tta-panel-heading"><h4 class="vc_tta-panel-title"><a href="#html_and_css_tab" data-vc-accordion data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">Introduction</span></a></h4></div><div class="vc_tta-panel-body">
                                        <div id="vsc_row_ttfltvoqhl" class="vc_row vc_inner vc_row-fluid container" style="" data-token="jjQmB">
                                            @*<div class="vc_col-sm-5 wpb_column column_container  ">
                                                <div class="wpb_wrapper">

                                                    @*<div class="wpb_single_image wpb_content_element vc_align_center  wpb_animate_when_almost_visible wpb_left-to-right">

                                                        <figure class="wpb_wrapper vc_figure">
                                                            <div class="vc_single_image-wrapper all  vc_box_border_grey"><img width="371" height="412" src="wp-content/uploads/2015/11/imac-371x412.png" class="vc_single_image-img attachment-full" alt="imac-371x412" srcset="http://ventcampwp.com/wp-content/uploads/2015/11/imac-371x412-270x300.png 270w, http://ventcampwp.com/wp-content/uploads/2015/11/imac-371x412-63x70.png 63w, http://ventcampwp.com/wp-content/uploads/2015/11/imac-371x412.png 371w" sizes="(max-width: 371px) 100vw, 371px" /></div>
                                                        </figure>
                                                    </div>

                                                </div>
                                            </div>*@

                                            <div class=" wpb_column column_container  ">
                                                <div class="wpb_wrapper">
                                                    <h6 style="text-align: left" class="vc_custom_heading heading-alt"></h6>
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p>Riphah International University is organizing the 1st International Conference on Patient Safety from May 07-08, 2016 at Pearl Continental Hotel Rawalpindi with the mission to provide safe & quality health services to all patients in Pakistan.</p> <p> To initiate & support this journey of patient safety in Pakistan, we have invited the top leaders in patient safety from across the world and gathering relevant local stakeholders to share & learn from their relevant knowledge, expertise and experiences. The objectives of the conference are to; Help in developing a patient centric mindset Create awareness about patient safety, medical errors and healthcare quality in Pakistan and the region. Build capacity of professionals, involved in the process of delivering quality healthcare and managing patient safety in their institutions. </p> <p>Bring together the stakeholders in Pakistan on this important subject”</p>
                                                            

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
