<div id="vsc_row_stjetoffld" class="vc_row vc_inner vc_row-fluid vc_custom_1452189199929 row parallax-bg-row inherit-color" style="background-image: url(wp-content/uploads/2015/11/bg4-2000x693.jpg); background-repeat: ; -webkit-background-size: cover; background-size: cover; background-position: center; background-attachment: fixed; color: #ffffff;" data-token="O9uSd">
    <div class="row-overlay clearfix " style="background-color: rgba(247,74,0,0.82);"></div><div class="container">
        <div class="vc_col-sm-12 wpb_column column_container  align-center">
            <div class="wpb_wrapper">
                <section class="vc_cta3-container">
                    <div class="vc_general vc_cta3 vc_cta3-style-custom vc_cta3-shape-square vc_cta3-align-center vc_cta3-icon-size-md vc_cta3-actions-bottom">
                        <div class="vc_cta3_content-container">
                            <div class="vc_cta3-content">
                                <header class="vc_cta3-content-header">
                                    <h2 style="color:#ffffff;">Register to Ventcamp now</h2>
                                </header>
                                <p>
                                    I am promo text. Click edit button to change this text. Lorem ipsum dolor sit amet<br />
                                    consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                                </p>
                            </div>
                            <div class="vc_cta3-actions">
                                <div class="vc_btn3-container vc_btn3-inline"><button onmouseleave="this.style.borderColor='#ffffff'; this.style.backgroundColor='transparent'; this.style.color='#ffffff'" onmouseenter="this.style.borderColor='#ffffff'; this.style.backgroundColor='#ffffff'; this.style.color='#fe4918';" style="border-color:#ffffff; color:#ffffff;" class="btn btn-md btn-alt vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-outline-custom">REGISTER</button></div>
                            </div>
                        </div>
                    </div>
                </section>


            </div>
        </div>
    </div>
</div>
