@model ConferenceWebApp.Models.FormModels.AppModel.IndexListModel
<div id="gallery" class="vc_row vc_inner vc_row-fluid container" style="" data-token="VqtuN">
    <div class="vc_col-sm-12 wpb_column column_container  ">
        <div class="wpb_wrapper">
            <div class="vc_icon_element vc_icon_element-outer vc_icon_element-align-center">
                <div class="vc_icon_element-inner vc_icon_element-color-accent-color vc_icon_element-size-lg vc_icon_element-style- vc_icon_element-background-color-grey"><span class="vc_icon_element-icon icon icon-badges-votes-01"></span></div>
            </div>
            <h3 style="text-align: center" class="vc_custom_heading">Gallery</h3>
            <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper">
                    <p style="text-align: center;">
                        <span style="color: #8d93a0;">
                            check our previous <mark>conference</mark> photos<br />
                        </span>
                    </p>

                </div>
            </div>
            <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
            <!-- vc_grid start -->
            <div class="vc_grid-container-wrapper vc_clearfix">
                    <div class="vc_grid-container vc_clearfix wpb_content_element vc_masonry_media_grid" data-vc-grid-settings="{&quot;page_id&quot;:1785,&quot;style&quot;:&quot;all-masonry&quot;,&quot;action&quot;:&quot;vc_get_vc_grid_data&quot;,&quot;animation_in&quot;:&quot;zoomIn&quot;,&quot;shortcode_id&quot;:&quot;1453756834116-966157ce-37e3-9&quot;,&quot;tag&quot;:&quot;vc_masonry_media_grid&quot;}" data-vc-request="/wp-admin/admin-ajax.php" data-vc-post-id="1785" data-vc-public-nonce="5e0780baf8">
                        <style type="text/css">
                            img.wp-smiley,
                            img.emoji {
                                display: inline !important;
                                border: none !important;
                                box-shadow: none !important;
                                height: 1em !important;
                                width: 1em !important;
                                margin: 0 .07em !important;
                                vertical-align: -0.1em !important;
                                background: none !important;
                                padding: 0 !important;
                            }
                        </style>
                        <link rel="stylesheet" id="woocommerce-events-admin-script-css" href="http://ventcampwp.com/wp-content/plugins/woocommerce-events/css/events-admin.css?ver=1.0.0" type="text/css" media="1">
                        <link rel="stylesheet" id="jquery-style-css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/themes/smoothness/jquery-ui.css?ver=4.4.2" type="text/css" media="all">
                        <link rel="stylesheet" id="wp-color-picker-css" href="http://ventcampwp.com/wp-admin/css/color-picker.min.css?ver=4.4.2" type="text/css" media="all">
                        <div class="vc_grid vc_row vc_grid-gutter-5px vc_pageable-wrapper vc_hook_hover" data-vc-pageable-content="true">
                            <div class="vc_pageable-slide-wrapper vc_clearfix" data-vc-grid-content="true" style="position: relative; height: 281.208px;">
                                <div class="vc_grid-item vc_clearfix vc_col-sm-2 vc_visible-item" style="position: absolute; left: 0px; top: 0px;">
                                    <div class="vc_grid-item-mini vc_clearfix">
                                        <div class="vc_gitem-animated-block ">
                                            <div class="vc_gitem-zone vc_gitem-zone-a vc_gitem-is-link" style="background-image: url(http://ventcampwp.com/wp-content/uploads/2015/11/gallery8-1024x768.png) !important;">
                                                <a href="http://ventcampwp.com/wp-content/uploads/2015/11/gallery8-1024x768.png" title="gallery8" rel="prettyPhoto[rel--120250579]" data-vc-gitem-zone="prettyphotoLink" class="vc_gitem-link prettyphoto vc-zone-link vc-prettyphoto-link"></a>	<img src="http://ventcampwp.com/wp-content/uploads/2015/11/gallery8-1024x768.png" class="vc_gitem-zone-img" alt="">	<div class="vc_gitem-zone-mini">
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="vc_clearfix"></div>
                                </div><div class="vc_grid-item vc_clearfix vc_col-sm-2 vc_visible-item" style="position: absolute; left: 185px; top: 0px;">
                                    <div class="vc_grid-item-mini vc_clearfix">
                                        <div class="vc_gitem-animated-block ">
                                            <div class="vc_gitem-zone vc_gitem-zone-a vc_gitem-is-link" style="background-image: url(http://ventcampwp.com/wp-content/uploads/2015/11/gallery7-1024x768.png) !important;">
                                                <a href="http://ventcampwp.com/wp-content/uploads/2015/11/gallery7-1024x768.png" title="gallery7" rel="prettyPhoto[rel--120250579]" data-vc-gitem-zone="prettyphotoLink" class="vc_gitem-link prettyphoto vc-zone-link vc-prettyphoto-link"></a>	<img src="http://ventcampwp.com/wp-content/uploads/2015/11/gallery7-1024x768.png" class="vc_gitem-zone-img" alt="">	<div class="vc_gitem-zone-mini">
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="vc_clearfix"></div>
                                </div><div class="vc_grid-item vc_clearfix vc_col-sm-2 vc_visible-item" style="position: absolute; left: 371px; top: 0px;">
                                    <div class="vc_grid-item-mini vc_clearfix">
                                        <div class="vc_gitem-animated-block ">
                                            <div class="vc_gitem-zone vc_gitem-zone-a vc_gitem-is-link" style="background-image: url(http://ventcampwp.com/wp-content/uploads/2015/11/gallery6-1024x768.png) !important;">
                                                <a href="http://ventcampwp.com/wp-content/uploads/2015/11/gallery6-1024x768.png" title="gallery6" rel="prettyPhoto[rel--120250579]" data-vc-gitem-zone="prettyphotoLink" class="vc_gitem-link prettyphoto vc-zone-link vc-prettyphoto-link"></a>	<img src="http://ventcampwp.com/wp-content/uploads/2015/11/gallery6-1024x768.png" class="vc_gitem-zone-img" alt="">	<div class="vc_gitem-zone-mini">
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="vc_clearfix"></div>
                                </div><div class="vc_grid-item vc_clearfix vc_col-sm-2 vc_visible-item" style="position: absolute; left: 557px; top: 0px;">
                                    <div class="vc_grid-item-mini vc_clearfix">
                                        <div class="vc_gitem-animated-block ">
                                            <div class="vc_gitem-zone vc_gitem-zone-a vc_gitem-is-link" style="background-image: url(http://ventcampwp.com/wp-content/uploads/2015/11/gallery5-1024x768.png) !important;">
                                                <a href="http://ventcampwp.com/wp-content/uploads/2015/11/gallery5-1024x768.png" title="gallery5" rel="prettyPhoto[rel--120250579]" data-vc-gitem-zone="prettyphotoLink" class="vc_gitem-link prettyphoto vc-zone-link vc-prettyphoto-link"></a>	<img src="http://ventcampwp.com/wp-content/uploads/2015/11/gallery5-1024x768.png" class="vc_gitem-zone-img" alt="">	<div class="vc_gitem-zone-mini">
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="vc_clearfix"></div>
                                </div><div class="vc_grid-item vc_clearfix vc_col-sm-2 vc_visible-item" style="position: absolute; left: 743px; top: 0px;">
                                    <div class="vc_grid-item-mini vc_clearfix">
                                        <div class="vc_gitem-animated-block ">
                                            <div class="vc_gitem-zone vc_gitem-zone-a vc_gitem-is-link" style="background-image: url(http://ventcampwp.com/wp-content/uploads/2015/11/gallery4-1024x768.png) !important;">
                                                <a href="http://ventcampwp.com/wp-content/uploads/2015/11/gallery4-1024x768.png" title="gallery4" rel="prettyPhoto[rel--120250579]" data-vc-gitem-zone="prettyphotoLink" class="vc_gitem-link prettyphoto vc-zone-link vc-prettyphoto-link"></a>	<img src="http://ventcampwp.com/wp-content/uploads/2015/11/gallery4-1024x768.png" class="vc_gitem-zone-img" alt="">	<div class="vc_gitem-zone-mini">
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="vc_clearfix"></div>
                                </div><div class="vc_grid-item vc_clearfix vc_col-sm-2 vc_visible-item" style="position: absolute; left: 929px; top: 0px;">
                                    <div class="vc_grid-item-mini vc_clearfix">
                                        <div class="vc_gitem-animated-block ">
                                            <div class="vc_gitem-zone vc_gitem-zone-a vc_gitem-is-link" style="background-image: url(http://ventcampwp.com/wp-content/uploads/2015/11/gallery3-1024x768.png) !important;">
                                                <a href="http://ventcampwp.com/wp-content/uploads/2015/11/gallery3-1024x768.png" title="gallery3" rel="prettyPhoto[rel--120250579]" data-vc-gitem-zone="prettyphotoLink" class="vc_gitem-link prettyphoto vc-zone-link vc-prettyphoto-link"></a>	<img src="http://ventcampwp.com/wp-content/uploads/2015/11/gallery3-1024x768.png" class="vc_gitem-zone-img" alt="">	<div class="vc_gitem-zone-mini">
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="vc_clearfix"></div>
                                </div><div class="vc_grid-item vc_clearfix vc_col-sm-2 vc_visible-item" style="position: absolute; left: 0px; top: 140px;">
                                    <div class="vc_grid-item-mini vc_clearfix">
                                        <div class="vc_gitem-animated-block ">
                                            <div class="vc_gitem-zone vc_gitem-zone-a vc_gitem-is-link" style="background-image: url(http://ventcampwp.com/wp-content/uploads/2015/11/gallery9-1024x768.png) !important;">
                                                <a href="http://ventcampwp.com/wp-content/uploads/2015/11/gallery9-1024x768.png" title="gallery9" rel="prettyPhoto[rel--120250579]" data-vc-gitem-zone="prettyphotoLink" class="vc_gitem-link prettyphoto vc-zone-link vc-prettyphoto-link"></a>	<img src="http://ventcampwp.com/wp-content/uploads/2015/11/gallery9-1024x768.png" class="vc_gitem-zone-img" alt="">	<div class="vc_gitem-zone-mini">
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="vc_clearfix"></div>
                                </div><div class="vc_grid-item vc_clearfix vc_col-sm-2 vc_visible-item" style="position: absolute; left: 185px; top: 140px;">
                                    <div class="vc_grid-item-mini vc_clearfix">
                                        <div class="vc_gitem-animated-block ">
                                            <div class="vc_gitem-zone vc_gitem-zone-a vc_gitem-is-link" style="background-image: url(http://ventcampwp.com/wp-content/uploads/2015/11/gallery10-1024x768.png) !important;">
                                                <a href="http://ventcampwp.com/wp-content/uploads/2015/11/gallery10-1024x768.png" title="gallery10" rel="prettyPhoto[rel--120250579]" data-vc-gitem-zone="prettyphotoLink" class="vc_gitem-link prettyphoto vc-zone-link vc-prettyphoto-link"></a>	<img src="http://ventcampwp.com/wp-content/uploads/2015/11/gallery10-1024x768.png" class="vc_gitem-zone-img" alt="">	<div class="vc_gitem-zone-mini">
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="vc_clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*<div class="vc_grid-container vc_clearfix wpb_content_element vc_masonry_media_grid" data-vc-grid-settings="{&quot;page_id&quot;:1825,&quot;style&quot;:&quot;all-masonry&quot;,&quot;action&quot;:&quot;vc_get_vc_grid_data&quot;,&quot;animation_in&quot;:&quot;zoomIn&quot;,&quot;shortcode_id&quot;:&quot;1455745372021-1b6e34bd-e1f9-7&quot;,&quot;tag&quot;:&quot;vc_masonry_media_grid&quot;}" data-vc-request="http://ventcampwp.com/wp-admin/admin-ajax.php" data-vc-post-id="1825" data-vc-public-nonce="e112ded8e9">


                <style type="text/css">
                    img.wp-smiley,
                    img.emoji {
                        display: inline !important;
                        border: none !important;
                        box-shadow: none !important;
                        height: 1em !important;
                        width: 1em !important;
                        margin: 0 .07em !important;
                        vertical-align: -0.1em !important;
                        background: none !important;
                        padding: 0 !important;
                    }
                </style>
                <link rel="stylesheet" id="woocommerce-events-admin-script-css" href="http://ventcampwp.com/wp-content/plugins/woocommerce-events/css/events-admin.css?ver=1.0.0" type="text/css" media="1">
                <link rel="stylesheet" id="jquery-style-css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/themes/smoothness/jquery-ui.css?ver=4.4.2" type="text/css" media="all">
                <link rel="stylesheet" id="wp-color-picker-css" href="http://ventcampwp.com/wp-admin/css/color-picker.min.css?ver=4.4.2" type="text/css" media="all">
                <div class="vc_grid vc_row vc_grid-gutter-5px vc_pageable-wrapper vc_hook_hover" data-vc-pageable-content="true">
                    <div class="vc_pageable-slide-wrapper vc_clearfix" data-vc-grid-content="true" style="position: relative; height: 747.078px;">

                        @foreach (var Picture in Model.Pictures)
                        {
                            <div class="vc_grid-item vc_clearfix vc_col-sm-4 vc_visible-item" style="position: absolute; left: 0px; top: 0px;">
                                <div class="vc_grid-item-mini vc_clearfix">
                                    <div class="vc_gitem-animated-block ">
                                        <div class="vc_gitem-zone vc_gitem-zone-a vc_gitem-is-link" style="background-image: url(@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)@ConferenceWebApp.BL.Constants.Constants.FilePaths.PicturePath/@Picture.FileName) !important;">
                                            <a href="@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)@ConferenceWebApp.BL.Constants.Constants.FilePaths.PicturePath/@Picture.FileName" title="Speaker at Business Conference and Presentation." rel="prettyPhoto[rel--265207546]" data-vc-gitem-zone="prettyphotoLink" class="vc_gitem-link prettyphoto vc-zone-link vc-prettyphoto-link"></a>	<img src="@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)@ConferenceWebApp.BL.Constants.Constants.FilePaths.PicturePath/@Picture.FileName" class="vc_gitem-zone-img" alt="">
                                            <div class="vc_gitem-zone-mini">
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="vc_clearfix"></div>
                            </div>
                        }


                        <div class="vc_grid-item vc_clearfix vc_col-sm-4 vc_visible-item" style="position: absolute; left: 304px; top: 0px;">
                            <div class="vc_grid-item-mini vc_clearfix">
                                <div class="vc_gitem-animated-block ">
                                    <div class="vc_gitem-zone vc_gitem-zone-a vc_gitem-is-link" style="background-image: url(http://ventcampwp.com/wp-content/uploads/2016/02/conference_5-1024x433.jpg) !important;">
                                        <a href="http://ventcampwp.com/wp-content/uploads/2016/02/conference_5-1024x433.jpg" title="Audience in the lecture hall." rel="prettyPhoto[rel--265207546]" data-vc-gitem-zone="prettyphotoLink" class="vc_gitem-link prettyphoto vc-zone-link vc-prettyphoto-link"></a>
                                        <img src="http://ventcampwp.com/wp-content/uploads/2016/02/conference_5-1024x433.jpg" class="vc_gitem-zone-img" alt="">	<div class="vc_gitem-zone-mini">
                                        </div>
                                    </div>
                                </div>
                            </div><div class="vc_clearfix"></div>
                        </div>


                        <div class="vc_grid-item vc_clearfix vc_col-sm-4 vc_visible-item" style="position: absolute; left: 609px; top: 0px;">
                            <div class="vc_grid-item-mini vc_clearfix">
                                <div class="vc_gitem-animated-block ">
                                    <div class="vc_gitem-zone vc_gitem-zone-a vc_gitem-is-link" style="background-image: url(http://ventcampwp.com/wp-content/uploads/2016/02/conference_4-1024x683.jpg) !important;">
                                        <a href="http://ventcampwp.com/wp-content/uploads/2016/02/conference_4-1024x683.jpg" title="Speaker at Business Conference and Presentation." rel="prettyPhoto[rel--265207546]" data-vc-gitem-zone="prettyphotoLink" class="vc_gitem-link prettyphoto vc-zone-link vc-prettyphoto-link"></a>	<img src="http://ventcampwp.com/wp-content/uploads/2016/02/conference_4-1024x683.jpg" class="vc_gitem-zone-img" alt="">	<div class="vc_gitem-zone-mini">
                                        </div>
                                    </div>
                                </div>
                            </div><div class="vc_clearfix"></div>
                        </div><div class="vc_grid-item vc_clearfix vc_col-sm-4 vc_visible-item" style="position: absolute; left: 304px; top: 131px;">
                            <div class="vc_grid-item-mini vc_clearfix">
                                <div class="vc_gitem-animated-block ">
                                    <div class="vc_gitem-zone vc_gitem-zone-a vc_gitem-is-link" style="background-image: url(http://ventcampwp.com/wp-content/uploads/2016/02/conference_3-1024x683.jpg) !important;">
                                        <a href="http://ventcampwp.com/wp-content/uploads/2016/02/conference_3-1024x683.jpg" title="Speaker at Business Conference and Presentation." rel="prettyPhoto[rel--265207546]" data-vc-gitem-zone="prettyphotoLink" class="vc_gitem-link prettyphoto vc-zone-link vc-prettyphoto-link"></a>	<img src="http://ventcampwp.com/wp-content/uploads/2016/02/conference_3-1024x683.jpg" class="vc_gitem-zone-img" alt="">	<div class="vc_gitem-zone-mini">
                                        </div>
                                    </div>
                                </div>
                            </div><div class="vc_clearfix"></div>
                        </div><div class="vc_grid-item vc_clearfix vc_col-sm-4 vc_visible-item" style="position: absolute; left: 0px; top: 152px;">
                            <div class="vc_grid-item-mini vc_clearfix">
                                <div class="vc_gitem-animated-block ">
                                    <div class="vc_gitem-zone vc_gitem-zone-a vc_gitem-is-link" style="background-image: url(http://ventcampwp.com/wp-content/uploads/2016/02/conference_2-1024x683.jpg) !important;">
                                        <a href="http://ventcampwp.com/wp-content/uploads/2016/02/conference_2-1024x683.jpg" title="Public speaker at Business Conference." rel="prettyPhoto[rel--265207546]" data-vc-gitem-zone="prettyphotoLink" class="vc_gitem-link prettyphoto vc-zone-link vc-prettyphoto-link"></a>	<img src="http://ventcampwp.com/wp-content/uploads/2016/02/conference_2-1024x683.jpg" class="vc_gitem-zone-img" alt="">	<div class="vc_gitem-zone-mini">
                                        </div>
                                    </div>
                                </div>
                            </div><div class="vc_clearfix"></div>
                        </div><div class="vc_grid-item vc_clearfix vc_col-sm-4 vc_visible-item" style="position: absolute; left: 609px; top: 205px;">
                            <div class="vc_grid-item-mini vc_clearfix ">
                                <div class="vc_gitem-animated-block ">
                                    <div class="vc_gitem-zone vc_gitem-zone-a vc_gitem-is-link" style="background-image: url(http://ventcampwp.com/wp-content/uploads/2016/02/conference_1-1024x1024.jpg) !important;">
                                        <a href="http://ventcampwp.com/wp-content/uploads/2016/02/conference_1-1024x1024.jpg" title="Speaker at Business Conference and Presentation." rel="prettyPhoto[rel--265207546]" data-vc-gitem-zone="prettyphotoLink" class="vc_gitem-link prettyphoto vc-zone-link vc-prettyphoto-link"></a>	<img src="http://ventcampwp.com/wp-content/uploads/2016/02/conference_1-1024x1024.jpg" class="vc_gitem-zone-img" alt="">	<div class="vc_gitem-zone-mini">
                                        </div>
                                    </div>
                                </div>
                            </div><div class="vc_clearfix"></div>
                        </div><div class="vc_grid-item vc_clearfix vc_col-sm-4 vc_visible-item" style="position: absolute; left: 304px; top: 336px;">
                            <div class="vc_grid-item-mini vc_clearfix">
                                <div class="vc_gitem-animated-block ">
                                    <div class="vc_gitem-zone vc_gitem-zone-a vc_gitem-is-link" style="background-image: url(http://ventcampwp.com/wp-content/uploads/2016/02/conference_10-1024x683.jpg) !important;">
                                        <a href="http://ventcampwp.com/wp-content/uploads/2016/02/conference_10-1024x683.jpg" title="Speaker at Business Conference and Presentation." rel="prettyPhoto[rel--265207546]" data-vc-gitem-zone="prettyphotoLink" class="vc_gitem-link prettyphoto vc-zone-link vc-prettyphoto-link"></a>	<img src="http://ventcampwp.com/wp-content/uploads/2016/02/conference_10-1024x683.jpg" class="vc_gitem-zone-img" alt="">	<div class="vc_gitem-zone-mini">
                                        </div>
                                    </div>
                                </div>
                            </div><div class="vc_clearfix"></div>
                        </div><div class="vc_grid-item vc_clearfix vc_col-sm-4 vc_visible-item" style="position: absolute; left: 0px; top: 358px;">
                            <div class="vc_grid-item-mini vc_clearfix">
                                <div class="vc_gitem-animated-block ">
                                    <div class="vc_gitem-zone vc_gitem-zone-a vc_gitem-is-link" style="background-image: url(http://ventcampwp.com/wp-content/uploads/2016/02/conference_9-1024x683.jpg) !important;">
                                        <a href="http://ventcampwp.com/wp-content/uploads/2016/02/conference_9-1024x683.jpg" title="Speaker giving talk at Business Conference." rel="prettyPhoto[rel--265207546]" data-vc-gitem-zone="prettyphotoLink" class="vc_gitem-link prettyphoto vc-zone-link vc-prettyphoto-link"></a>	<img src="http://ventcampwp.com/wp-content/uploads/2016/02/conference_9-1024x683.jpg" class="vc_gitem-zone-img" alt="">	<div class="vc_gitem-zone-mini">
                                        </div>
                                    </div>
                                </div>
                            </div><div class="vc_clearfix"></div>
                        </div><div class="vc_grid-item vc_clearfix vc_col-sm-4 vc_visible-item" style="position: absolute; left: 609px; top: 510px;">
                            <div class="vc_grid-item-mini vc_clearfix ">
                                <div class="vc_gitem-animated-block ">
                                    <div class="vc_gitem-zone vc_gitem-zone-a vc_gitem-is-link" style="background-image: url(http://ventcampwp.com/wp-content/uploads/2016/02/conference_8-1024x683.jpg) !important;">
                                        <a href="http://ventcampwp.com/wp-content/uploads/2016/02/conference_8-1024x683.jpg" title="Speaker at Business Conference and Presentation." rel="prettyPhoto[rel--265207546]" data-vc-gitem-zone="prettyphotoLink" class="vc_gitem-link prettyphoto vc-zone-link vc-prettyphoto-link"></a>	<img src="http://ventcampwp.com/wp-content/uploads/2016/02/conference_8-1024x683.jpg" class="vc_gitem-zone-img" alt="">	<div class="vc_gitem-zone-mini">
                                        </div>
                                    </div>
                                </div>
                            </div><div class="vc_clearfix"></div>
                        </div><div class="vc_grid-item vc_clearfix vc_col-sm-4 vc_visible-item" style="position: absolute; left: 304px; top: 542px;">
                            <div class="vc_grid-item-mini vc_clearfix">
                                <div class="vc_gitem-animated-block ">
                                    <div class="vc_gitem-zone vc_gitem-zone-a vc_gitem-is-link" style="background-image: url(http://ventcampwp.com/wp-content/uploads/2016/02/conference_7-1024x683.jpg) !important;">
                                        <a href="http://ventcampwp.com/wp-content/uploads/2016/02/conference_7-1024x683.jpg" title="Speaker at Business Conference and Presentation." rel="prettyPhoto[rel--265207546]" data-vc-gitem-zone="prettyphotoLink" class="vc_gitem-link prettyphoto vc-zone-link vc-prettyphoto-link"></a>	<img src="http://ventcampwp.com/wp-content/uploads/2016/02/conference_7-1024x683.jpg" class="vc_gitem-zone-img" alt="">	<div class="vc_gitem-zone-mini">
                                        </div>
                                    </div>
                                </div>
                            </div><div class="vc_clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>*@
                </div><!-- vc_grid end -->

        </div>
    </div>
</div>