

<div id="prices" class="vc_row vc_inner vc_row-fluid container" style="" data-token="MRbPJ">

    <div class="vc_col-sm-12 wpb_column column_container  ">
        <div class="wpb_wrapper">
            <div class="vc_icon_element vc_icon_element-outer vc_icon_element-align-center">
                <div class="vc_icon_element-inner vc_icon_element-color-accent-color vc_icon_element-size-lg vc_icon_element-style- vc_icon_element-background-color-grey"><span class="vc_icon_element-icon icon icon-shopping-04"></span></div>
            </div>
            <h3 style="text-align: center" class="vc_custom_heading">Event tickets</h3>
            <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper">
                    <p style="text-align: center;">
                        <span style="color: #8d93a0;">
                            Hurry up and get the <mark>Early Bird</mark> tickets while they are available<br />
                        </span>
                    </p>

                </div>
            </div>
            <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>

            <div class="pricetable pricetable-default pricetable-standart pricetable-3-columns">
                <div class='pricetable-col'><div class='package-column'><h6 class='package-title'>Silver Pass</h6><div class='package-price'><span class='currency'>$</span>99</div><div class='package-detail'><ul><li><span class='fa fa-check check-icon'></span>Regular seating</li><li><span class='fa fa-check check-icon'></span>Free snacks</li><li><span class='fa fa-check check-icon'></span>Regular badge</li></ul></div><a href='indexdddb.html?add-to-cart=1812' class='btn btn-lg'>Buy now</a></div></div><div class='pricetable-col'><div class='package-column special-column'><span class='sale-label uppercase'>Hot!</span><h6 class='package-title'>Early Bird</h6><div class='package-price'><span class='currency'>$</span>147</div><div class='package-detail'><ul><li><span class='fa fa-check check-icon'></span>Front seats</li><li><span class='fa fa-check check-icon'></span>Free snacks</li><li><span class='fa fa-check check-icon'></span>VIP Badge</li><li><span class='fa fa-check check-icon'></span>VIP lounge access</li></ul></div><a href='indexc1aa.html?add-to-cart=1816' class='btn btn-lg'>Buy now</a></div></div><div class='pricetable-col'><div class='package-column'><h6 class='package-title'>Gold Pass</h6><div class='package-price'><span class='currency'>$</span>285</div><div class='package-detail'><ul><li><span class='fa fa-check check-icon'></span>Front seats</li><li><span class='fa fa-check check-icon'></span>Free snacks</li><li><span class='fa fa-check check-icon'></span>VIP badge</li></ul></div><a href='index5a14.html?add-to-cart=1815' class='btn btn-lg'>Buy now</a></div></div>
            </div>

        </div>
    </div>
</div>
