<div id="sponsors" class="vc_row vc_inner vc_row-fluid container" style="" data-token="vmkSv">
    <div class="vc_col-sm-12 wpb_column column_container  ">
        <div class="wpb_wrapper">
            <div class="vc_icon_element vc_icon_element-outer vc_icon_element-align-center">
                <div class="vc_icon_element-inner vc_icon_element-color-accent-color vc_icon_element-size-lg vc_icon_element-style- vc_icon_element-background-color-grey"><span class="vc_icon_element-icon icon icon-documents-bookmarks-12"></span></div>
            </div>
            <h3 style="text-align: center" class="vc_custom_heading">General sponsors</h3>
            <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper">
                    <p style="text-align: center;"><span style="color: #8d93a0;">these <mark>awesome</mark> companies support us</span></p>

                </div>
            </div>
            <div id="vsc_row_yrgwfzld" class="vc_row vc_inner vc_row-fluid vc_custom_1453802453645 container" style="" data-token="Kcm3f">
                <div class="vc_col-sm-3 wpb_column column_container  ">
                    <div class="wpb_wrapper">

                        <div class="wpb_single_image wpb_content_element vc_align_center">

                            <figure class="wpb_wrapper vc_figure">
                                <a href="http://google.com/" target="_blank" class="vc_single_image-wrapper all  vc_box_border_grey"><img width="175" height="175" src="/master/wp-content/uploads/2015/11/sponsor-big-1.png" class="vc_single_image-img attachment-full" alt="sponsor-big-1" srcset="http://ventcampwp.com/wp-content/uploads/2015/11/sponsor-big-1-150x150.png 150w, http://ventcampwp.com/wp-content/uploads/2015/11/sponsor-big-1-70x70.png 70w, http://ventcampwp.com/wp-content/uploads/2015/11/sponsor-big-1.png 175w" sizes="(max-width: 175px) 100vw, 175px" /></a>
                            </figure>
                        </div>

                    </div>
                </div>

                <div class="vc_col-sm-3 wpb_column column_container  ">
                    <div class="wpb_wrapper">

                        <div class="wpb_single_image wpb_content_element vc_align_center">

                            <figure class="wpb_wrapper vc_figure">
                                <a href="http://google.com/" target="_blank" class="vc_single_image-wrapper all  vc_box_border_grey"><img width="175" height="175" src="/master/wp-content/uploads/2015/11/sponsor-big-2.png" class="vc_single_image-img attachment-full" alt="sponsor-big-2" srcset="http://ventcampwp.com/wp-content/uploads/2015/11/sponsor-big-2-150x150.png 150w, http://ventcampwp.com/wp-content/uploads/2015/11/sponsor-big-2-70x70.png 70w, http://ventcampwp.com/wp-content/uploads/2015/11/sponsor-big-2.png 175w" sizes="(max-width: 175px) 100vw, 175px" /></a>
                            </figure>
                        </div>

                    </div>
                </div>

                <div class="vc_col-sm-3 wpb_column column_container  ">
                    <div class="wpb_wrapper">

                        <div class="wpb_single_image wpb_content_element vc_align_center">

                            <figure class="wpb_wrapper vc_figure">
                                <a href="http://google.com/" target="_blank" class="vc_single_image-wrapper all  vc_box_border_grey"><img width="175" height="175" src="/master/wp-content/uploads/2015/11/sponsor-big-3.png" class="vc_single_image-img attachment-full" alt="sponsor-big-3" srcset="http://ventcampwp.com/wp-content/uploads/2015/11/sponsor-big-3-150x150.png 150w, http://ventcampwp.com/wp-content/uploads/2015/11/sponsor-big-3-70x70.png 70w, http://ventcampwp.com/wp-content/uploads/2015/11/sponsor-big-3.png 175w" sizes="(max-width: 175px) 100vw, 175px" /></a>
                            </figure>
                        </div>

                    </div>
                </div>

                <div class="vc_col-sm-3 wpb_column column_container  ">
                    <div class="wpb_wrapper">

                        <div class="wpb_single_image wpb_content_element vc_align_center">

                            <figure class="wpb_wrapper vc_figure">
                                <a href="http://google.com/" target="_blank" class="vc_single_image-wrapper all  vc_box_border_grey"><img width="175" height="175" src="/master/wp-content/uploads/2015/11/sponsor-big-4.png" class="vc_single_image-img attachment-full" alt="sponsor-big-4" srcset="http://ventcampwp.com/wp-content/uploads/2015/11/sponsor-big-4-150x150.png 150w, http://ventcampwp.com/wp-content/uploads/2015/11/sponsor-big-4-70x70.png 70w, http://ventcampwp.com/wp-content/uploads/2015/11/sponsor-big-4.png 175w" sizes="(max-width: 175px) 100vw, 175px" /></a>
                            </figure>
                        </div>

                    </div>
                </div>
            </div><div id="vsc_row_gfwlhushdl" class="vc_row vc_inner vc_row-fluid vc_custom_1453802395410 container" style="" data-token="iFFHV">
                <div class="vc_col-sm-2 wpb_column column_container  ">
                    <div class="wpb_wrapper">

                        <div class="wpb_single_image wpb_content_element vc_align_center">

                            <figure class="wpb_wrapper vc_figure">
                                <a href="http://google.com/" target="_blank" class="vc_single_image-wrapper all  vc_box_border_grey"><img width="183" height="53" src="/master/wp-content/uploads/2015/11/MetroPyrominds12.png" class="vc_single_image-img attachment-full" alt="MetroPyrominds12" /></a>
                            </figure>
                        </div>

                    </div>
                </div>

                <div class="vc_col-sm-2 wpb_column column_container  ">
                    <div class="wpb_wrapper">

                        <div class="wpb_single_image wpb_content_element vc_align_center">

                            <figure class="wpb_wrapper vc_figure">
                                <a href="http://google.com/" target="_blank" class="vc_single_image-wrapper all  vc_box_border_grey"><img width="130" height="42" src="/master/wp-content/uploads/2015/11/Artdesigncat12.png" class="vc_single_image-img attachment-full" alt="Artdesigncat12" /></a>
                            </figure>
                        </div>

                    </div>
                </div>

                <div class="vc_col-sm-2 wpb_column column_container  ">
                    <div class="wpb_wrapper">

                        <div class="wpb_single_image wpb_content_element vc_align_center">

                            <figure class="wpb_wrapper vc_figure">
                                <a href="http://google.com/" target="_blank" class="vc_single_image-wrapper all  vc_box_border_grey"><img width="112" height="64" src="/master/wp-content/uploads/2015/11/March12.png" class="vc_single_image-img attachment-full" alt="March12" srcset="http://ventcampwp.com/wp-content/uploads/2015/11/March12-70x40.png 70w, http://ventcampwp.com/wp-content/uploads/2015/11/March12.png 112w" sizes="(max-width: 112px) 100vw, 112px" /></a>
                            </figure>
                        </div>

                    </div>
                </div>

                <div class="vc_col-sm-2 wpb_column column_container  ">
                    <div class="wpb_wrapper">

                        <div class="wpb_single_image wpb_content_element vc_align_center">

                            <figure class="wpb_wrapper vc_figure">
                                <a href="http://google.com/" target="_blank" class="vc_single_image-wrapper all  vc_box_border_grey"><img width="105" height="30" src="/master/wp-content/uploads/2015/11/logo-512.png" class="vc_single_image-img attachment-full" alt="logo-512" srcset="http://ventcampwp.com/wp-content/uploads/2015/11/logo-512-70x20.png 70w, http://ventcampwp.com/wp-content/uploads/2015/11/logo-512.png 105w" sizes="(max-width: 105px) 100vw, 105px" /></a>
                            </figure>
                        </div>

                    </div>
                </div>

                <div class="vc_col-sm-2 wpb_column column_container  ">
                    <div class="wpb_wrapper">

                        <div class="wpb_single_image wpb_content_element vc_align_center">

                            <figure class="wpb_wrapper vc_figure">
                                <a href="http://google.com/" target="_blank" class="vc_single_image-wrapper all  vc_box_border_grey"><img width="180" height="29" src="/master/wp-content/uploads/2015/11/logo-412.png" class="vc_single_image-img attachment-full" alt="logo-412" /></a>
                            </figure>
                        </div>

                    </div>
                </div>

                <div class="vc_col-sm-2 wpb_column column_container  ">
                    <div class="wpb_wrapper">

                        <div class="wpb_single_image wpb_content_element vc_align_center">

                            <figure class="wpb_wrapper vc_figure">
                                <a href="http://google.com/" target="_blank" class="vc_single_image-wrapper all  vc_box_border_grey"><img width="153" height="61" src="/master/wp-content/uploads/2015/11/logo-312.png" class="vc_single_image-img attachment-full" alt="logo-312" srcset="http://ventcampwp.com/wp-content/uploads/2015/11/logo-312-70x28.png 70w, http://ventcampwp.com/wp-content/uploads/2015/11/logo-312.png 153w" sizes="(max-width: 153px) 100vw, 153px" /></a>
                            </figure>
                        </div>

                    </div>
                </div>
            </div><div id="vsc_row_unetotzfcg" class="vc_row vc_inner vc_row-fluid vc_custom_1453802404924 container" style="" data-token="uknOf">
                <div class="vc_col-sm-2 wpb_column column_container  ">
                    <div class="wpb_wrapper">

                    </div>
                </div>

                <div class="vc_col-sm-2 wpb_column column_container  ">
                    <div class="wpb_wrapper">

                        <div class="wpb_single_image wpb_content_element vc_align_center">

                            <figure class="wpb_wrapper vc_figure">
                                <a href="http://google.com/" target="_blank" class="vc_single_image-wrapper all  vc_box_border_grey"><img width="106" height="34" src="/master/wp-content/uploads/2015/11/logo-212.png" class="vc_single_image-img attachment-full" alt="logo-212" /></a>
                            </figure>
                        </div>

                    </div>
                </div>

                <div class="vc_col-sm-2 wpb_column column_container  ">
                    <div class="wpb_wrapper">

                        <div class="wpb_single_image wpb_content_element vc_align_center">

                            <figure class="wpb_wrapper vc_figure">
                                <a href="http://google.com/" target="_blank" class="vc_single_image-wrapper all  vc_box_border_grey"><img width="109" height="30" src="/master/wp-content/uploads/2015/11/logo-112.png" class="vc_single_image-img attachment-full" alt="logo-112" /></a>
                            </figure>
                        </div>

                    </div>
                </div>

                <div class="vc_col-sm-2 wpb_column column_container  ">
                    <div class="wpb_wrapper">

                        <div class="wpb_single_image wpb_content_element vc_align_center">

                            <figure class="wpb_wrapper vc_figure">
                                <a href="http://google.com/" target="_blank" class="vc_single_image-wrapper all  vc_box_border_grey"><img width="158" height="47" src="/master/wp-content/uploads/2015/11/FlavourSeo12.png" class="vc_single_image-img attachment-full" alt="FlavourSeo12" /></a>
                            </figure>
                        </div>

                    </div>
                </div>

                <div class="vc_col-sm-2 wpb_column column_container  ">
                    <div class="wpb_wrapper">

                        <div class="wpb_single_image wpb_content_element vc_align_center">

                            <figure class="wpb_wrapper vc_figure">
                                <a href="http://google.com/" target="_blank" class="vc_single_image-wrapper all  vc_box_border_grey"><img width="130" height="42" src="/master/wp-content/uploads/2015/11/Artdesigncat12.png" class="vc_single_image-img attachment-full" alt="Artdesigncat12" /></a>
                            </figure>
                        </div>

                    </div>
                </div>

                <div class="vc_col-sm-2 wpb_column column_container  ">
                    <div class="wpb_wrapper">

                    </div>
                </div>
            </div><div id="vsc_row_gsfpbfutdl" class="vc_row vc_inner vc_row-fluid vc_custom_1453802416925 container" style="" data-token="SMRNE">
                <div class="vc_col-sm-2 wpb_column column_container  ">
                    <div class="wpb_wrapper">

                    </div>
                </div>

                <div class="vc_col-sm-2 wpb_column column_container  ">
                    <div class="wpb_wrapper">

                    </div>
                </div>

                <div class="vc_col-sm-2 wpb_column column_container  ">
                    <div class="wpb_wrapper">

                        <div class="wpb_single_image wpb_content_element vc_align_center">

                            <figure class="wpb_wrapper vc_figure">
                                <a href="http://google.com/" target="_blank" class="vc_single_image-wrapper all  vc_box_border_grey"><img width="158" height="47" src="/master/wp-content/uploads/2015/11/FlavourSeo12.png" class="vc_single_image-img attachment-full" alt="FlavourSeo12" /></a>
                            </figure>
                        </div>

                    </div>
                </div>

                <div class="vc_col-sm-2 wpb_column column_container  ">
                    <div class="wpb_wrapper">

                        <div class="wpb_single_image wpb_content_element vc_align_center">

                            <figure class="wpb_wrapper vc_figure">
                                <a href="http://google.com/" target="_blank" class="vc_single_image-wrapper all  vc_box_border_grey"><img width="153" height="61" src="/master/wp-content/uploads/2015/11/logo-312.png" class="vc_single_image-img attachment-full" alt="logo-312" srcset="http://ventcampwp.com/wp-content/uploads/2015/11/logo-312-70x28.png 70w, http://ventcampwp.com/wp-content/uploads/2015/11/logo-312.png 153w" sizes="(max-width: 153px) 100vw, 153px" /></a>
                            </figure>
                        </div>

                    </div>
                </div>

                <div class="vc_col-sm-2 wpb_column column_container  ">
                    <div class="wpb_wrapper">

                    </div>
                </div>

                <div class="vc_col-sm-2 wpb_column column_container  ">
                    <div class="wpb_wrapper">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
