
<div id="vsc_row_cznhfgfvop" class="vc_row vc_inner vc_row-fluid vc_custom_1453725122104 container" style="" data-token="yJwui">
    <div class="vc_col-sm-12 wpb_column column_container  ">
        <div class="wpb_wrapper">
            <h5 style="text-align: center" class="vc_custom_heading heading-alt">TESTIMONIALS</h5>
            <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper">
                    <p style="text-align: center;"><span style="color: #8d93a0;">what <mark>people</mark> say</span></p>
                </div>
            </div>
            <div class="testimonials testimonials-3-columns">
                <div class='testimonial-col'><div class='testimonial'><article class='text-box'>Esse maxime tempore maiores laboriosam nobis, aut cum quidem est ab ipsam soluta voluptate totam quibusdam quo neque</article><div class='author-block'><div class='photo-container' style="background-image: url('../master/wp-content/uploads/2015/11/Amy12.jpg')"></div><strong class='name'>AMY WHITE</strong><small class='text-alt'>Designer - Tinterest</small></div></div></div><div class='testimonial-col'><div class='testimonial'><article class='text-box'>Illo repellat dolores laudantium quos, velit, reprehenderit veniam accusamus neque laboriosam tenetur aut quaerat, doloribus autem facere</article><div class='author-block'><div class='photo-container' style="background-image: url('../master/wp-content/uploads/2015/11/Alec12.jpg')"></div><strong class='name'>MICHAEL DERILL</strong><small class='text-alt'>CTO - Flopbox</small></div></div></div><div class='testimonial-col'><div class='testimonial'><article class='text-box'>Recusandae minima similique rem. Neque quisquam, blanditiis cum, ex ullam obcaecati beatae nobis quos, officia rerum, exercitationem ducimus totam!</article><div class='author-block'><div class='photo-container' style="background-image: url('../master/wp-content/uploads/2015/11/speaker-2.jpg')"></div><strong class='name'>MIKE MEYERS</strong><small class='text-alt'>Project Manager</small></div></div></div>
            </div>
        </div>
    </div>
</div>
