
<div id="contacts" class="vc_row vc_inner vc_row-fluid vc_custom_1453730540825 row" style="" data-token="RKcWM">
    <div class="container">
        <div class="vc_col-sm-6 wpb_column column_container  vc_custom_1453730496773 ">
            <div class="wpb_wrapper">

                <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                    <div class="wpb_wrapper">
                        <div style="background:#fff; max-width:360px; padding:40px 50px;">
                            <h3>Location</h3>
                            <ul class="list">
                                <li><i class="fa fa-map-marker"></i>PEARL CONTINENTAL HOTEL RAWALPINDI THE MALL ROAD PO BOX # 211</li>
                                <li><i class="fa fa-envelope"></i>PCHR@PCHOTELS.COM</li>
                                <li><i class="fa fa-phone"></i>+92-51-5566011</li>
                                
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="vc_col-sm-6 wpb_column column_container  ">
            <div class="wpb_wrapper">
                <div class="vncp-map" data-address="881 7th Ave New York" data-zoom="15" data-relative-offset="true" data-offset-x="10" data-fill-row="true"></div>
            </div>
        </div>
    </div>
</div>

