@{
    ViewBag.Title = "Sponsors";
    Layout = "~/Views/Shared/Master.cshtml";
}



<div id="sponsors" class="vc_row vc_inner vc_row-fluid container" style="" data-token="vmkSv">
    <div class="vc_col-sm-12 wpb_column column_container  ">
        <div class="wpb_wrapper">
            <div class="vc_icon_element vc_icon_element-outer vc_icon_element-align-center">
                <div class="vc_icon_element-inner vc_icon_element-color-accent-color vc_icon_element-size-lg vc_icon_element-style- vc_icon_element-background-color-grey"><span class="vc_icon_element-icon icon icon-documents-bookmarks-12"></span></div>
            </div>
            <h3 style="text-align: center" class="vc_custom_heading">ENDORSED BY</h3>


            @*<div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <p style="text-align: center;"><span style="color: #8d93a0;">these <mark>awesome</mark> companies support us</span></p>

                    </div>
                </div>*@
            <div id="vsc_row_yrgwfzld" class="vc_row vc_inner vc_row-fluid vc_custom_1453802453645 container" style="" data-token="Kcm3f">

                <div class="vc_col-sm-3 wpb_column column_container  ">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_center">
                            <figure class="wpb_wrapper vc_figure">
                                <a href="" target="_blank" class="vc_single_image-wrapper all  vc_box_border_grey">
                                    <img width="175" height="175" src="../files/temp/endorsedby/1.jpg" class="vc_single_image-img attachment-full" alt="sponsor-big-1"
                                         srcset="../files/temp/endorsedby/1.jpg" sizes="(max-width: 175px) 100vw, 175px" />
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>

                <div class="vc_col-sm-3 wpb_column column_container  ">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_center">
                            <figure class="wpb_wrapper vc_figure">
                                <a href="" target="_blank" class="vc_single_image-wrapper all  vc_box_border_grey">
                                    <img width="175" height="175" src="../files/temp/endorsedby/2.jpg" class="vc_single_image-img attachment-full" alt="sponsor-big-1"
                                         srcset="../files/temp/endorsedby/2.jpg" sizes="(max-width: 175px) 100vw, 175px" />
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="vc_col-sm-3 wpb_column column_container  ">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_center">
                            <figure class="wpb_wrapper vc_figure">
                                <a href="" target="_blank" class="vc_single_image-wrapper all  vc_box_border_grey">
                                    <img width="175" height="175" src="../files/temp/endorsedby/3.png" class="vc_single_image-img attachment-full" alt="sponsor-big-1"
                                         srcset="../files/temp/endorsedby/3.png" sizes="(max-width: 175px) 100vw, 175px" />
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>

            <h3 style="text-align: center" class="vc_custom_heading">SUPPORTED BY</h3>

            <div id="vsc_row_yrgwfzld" class="vc_row vc_inner vc_row-fluid vc_custom_1453802453645 container" style="" data-token="Kcm3f">

                <div class="vc_col-sm-3 wpb_column column_container  ">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_center">
                            <figure class="wpb_wrapper vc_figure">
                                <a href="" target="_blank" class="vc_single_image-wrapper all  vc_box_border_grey">
                                    <img width="175" height="175" src="../files/temp/supportedby/1.png" class="vc_single_image-img attachment-full" alt="sponsor-big-1"
                                         srcset="../files/temp/supportedby/1.png" sizes="(max-width: 175px) 100vw, 175px" />
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="vc_col-sm-3 wpb_column column_container  ">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_center">
                            <figure class="wpb_wrapper vc_figure">
                                <a href="" target="_blank" class="vc_single_image-wrapper all  vc_box_border_grey">
                                    <img width="175" height="175" src="../files/temp/supportedby/2.jpg" class="vc_single_image-img attachment-full" alt="sponsor-big-1"
                                         srcset="../files/temp/supportedby/2.jpg" sizes="(max-width: 175px) 100vw, 175px" />
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="vc_col-sm-3 wpb_column column_container  ">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_center">
                            <figure class="wpb_wrapper vc_figure">
                                <a href="" target="_blank" class="vc_single_image-wrapper all  vc_box_border_grey">
                                    <img width="175" height="175" src="../files/temp/supportedby/3.jpg" class="vc_single_image-img attachment-full" alt="sponsor-big-1"
                                         srcset="../files/temp/supportedby/3.jpg" sizes="(max-width: 175px) 100vw, 175px" />
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="vc_col-sm-3 wpb_column column_container  ">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_center">
                            <figure class="wpb_wrapper vc_figure">
                                <a href="" target="_blank" class="vc_single_image-wrapper all  vc_box_border_grey">
                                    <img width="175" height="175" src="../files/temp/supportedby/4.png" class="vc_single_image-img attachment-full" alt="sponsor-big-1"
                                         srcset="../files/temp/supportedby/4.png" sizes="(max-width: 175px) 100vw, 175px" />
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <h3 style="text-align: center" class="vc_custom_heading">MEDIA PARTNER</h3>

            <div id="vsc_row_yrgwfzld" class="vc_row vc_inner vc_row-fluid vc_custom_1453802453645 container" style="" data-token="Kcm3f">

                <div class="vc_col-sm-3 wpb_column column_container  ">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_center">
                            <figure class="wpb_wrapper vc_figure">
                                <a href="" target="_blank" class="vc_single_image-wrapper all  vc_box_border_grey">
                                    <img width="175" height="175" src="../files/temp/mediapartner/1.png" class="vc_single_image-img attachment-full" alt="sponsor-big-1"
                                         srcset="../files/temp/mediapartner/1.png" sizes="(max-width: 175px) 100vw, 175px" />
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>

            </div>

            <h3 style="text-align: center" class="vc_custom_heading">STATEGIC PARTNERS</h3>

            <div id="vsc_row_yrgwfzld" class="vc_row vc_inner vc_row-fluid vc_custom_1453802453645 container" style="" data-token="Kcm3f">

                <div class="vc_col-sm-3 wpb_column column_container  ">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_center">
                            <figure class="wpb_wrapper vc_figure">
                                <a href="" target="_blank" class="vc_single_image-wrapper all  vc_box_border_grey">
                                    <img width="175" height="175" src="../files/temp/strategicpartners/1.jpg" class="vc_single_image-img attachment-full" alt="sponsor-big-1"
                                         srcset="../files/temp/strategicpartners/1.jpg" sizes="(max-width: 175px) 100vw, 175px" />
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>

            </div>

            <h3 style="text-align: center" class="vc_custom_heading">SPONSORS</h3>

            <div id="vsc_row_yrgwfzld" class="vc_row vc_inner vc_row-fluid vc_custom_1453802453645 container" style="" data-token="Kcm3f">

                <div class="vc_col-sm-3 wpb_column column_container  ">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_center">
                            <figure class="wpb_wrapper vc_figure">
                                <a href="" target="_blank" class="vc_single_image-wrapper all  vc_box_border_grey">
                                    <img width="175" height="175" src="../files/temp/sponsors/1.jpg" class="vc_single_image-img attachment-full" alt="sponsor-big-1"
                                         srcset="../files/temp/sponsors/1.jpg" sizes="(max-width: 175px) 100vw, 175px" />
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="vc_col-sm-3 wpb_column column_container  ">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_center">
                            <figure class="wpb_wrapper vc_figure">
                                <a href="" target="_blank" class="vc_single_image-wrapper all  vc_box_border_grey">
                                    <img width="175" height="175" src="../files/temp/sponsors/2.gif" class="vc_single_image-img attachment-full" alt="sponsor-big-1"
                                         srcset="../files/temp/sponsors/2.gif" sizes="(max-width: 175px) 100vw, 175px" />
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>

            </div>




            </div>
    </div>
</div>
